.item {
    display: grid;
    gap: 40px;
    margin: auto;
    width: 85%;
}

.item__title {
    font-size: 32px;
    line-height: 34px;
    text-align: start;
    margin: 0;
}

.item__description {
    display: flex;
    flex-wrap: wrap;
    gap: 65px;
}

.item__textBlock {
    border: 1px solid black;
    width: 370px;
    height: 300px;
    border-radius: 20px;
}

.item__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    text-align: start;
    margin: auto;
    width: 310px;
    margin-top: 40px;
}

.item__subtext {
    font-size: 18px;
    text-align: start;
    margin: auto;
    width: 310px;
    margin-top: 16px;
}

.item__imgBlock {
    display: flex;
}

.item__wrapper {
    width: auto;
}

.item__image {
    width: 100%;
}

.invisible {
    display: none;
}

@media screen and (max-width: 1200px) {
    .item {
        gap: 30px;
    }

    .item__title {
        font-size: 24px;
        line-height: 26px;
    }

    .item__description {
        gap: 50px;
    }

    .item__textBlock {
        width: 270px;
        height: 250px;
    }

    .item__text {
        font-size: 20px;
        line-height: 22px;
        width: 250px;
    }

    .item__subtext {
        font-size: 16px;
        line-height: 18px;
        width: 250px;
    }
}

@media screen and (max-width: 768px) {
    .item {
        gap: 16px;
    }

    .item__title {
        font-size: 20px;
        line-height: 22px;
    }

    .item__description {
        gap: 30px;
    }

    .item__textBlock {
        width: 200px;
        height: 200px;
    }

    .item__text {
        font-size: 16px;
        line-height: 18px;
        width: 180px;
    }

    .item__subtext {
        font-size: 12px;
        line-height: 14px;
        width: 180px;
    }
}