.item {
    display: grid;
    gap: 40px;
    margin: 50px auto 0;
    width: 90%;
}

.item__title {
    font-size: 32px;
    line-height: 34px;
    text-align: start;
    margin: 0;
}

.item__description {
    display: flex;
    flex-wrap: wrap;
    gap: 65px;
}

.item__textBlock {
    border: 1px solid black;
    width: 370px;
    height: 300px;
    border-radius: 10px;
}

.item__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    text-align: start;
    margin: auto;
    width: 310px;
    margin-top: 40px;
}

.item__subtext {
    font-size: 18px;
    text-align: start;
    margin: auto;
    width: 310px;
    margin-top: 16px;
}

.item__imgBlock {
    display: flex;
}

.item__wrapper {
    width: auto;
}

.item__image {
    width: 100%;
}

.invisible {
    display: none;
}

@media screen and (max-width: 1440px) {
    .item {
        grid-template-columns: 35% 60%;
    }

    .item__text {
        font-size: 20px;
        line-height: 22px;
    }

    .item__subtext {
        font-size: 14px;
        line-height: 16px;
    }
}

@media screen and (max-width: 1024px) {
    .item__title {
        font-size: 24px;
    }
}

@media screen and (max-width: 840px) {
    .item {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 480px) {
    .item__description {
        grid-template-columns: 1fr;
        gap: 40px;
    }
    
    .item__imgBlock {
        display: block;
    }
}