.catalog {
    width: 85%;
    margin: auto;
}

.catalog__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    text-align: start;
}

.catalog__items {
    display: flex;
    gap: 40px;
    justify-content: start;
    flex-wrap: wrap;
}

.itemPr {
    border: 1px solid black;
    border-radius: 20px;
    text-decoration: none;
    height: 400px;
    width: 280px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.itemPr__name {
    font-size: 20px;
    line-height: 22px;
    color: black;
    text-decoration: none;
}

.itemPr__image {
    height: 250px;
    width: 99%;
    object-fit: cover;
}

@media screen and (max-width: 1200px) {
    .catalog__title {
        font-size: 32px;
        line-height: 34px;
    }

    .itemPr {
        width: 220px;
        height: 350px;
    }

    .itemPr__name {
        font-size: 18px;
        line-height: 20px;
    }

    .itemPr__image {
        height: 230px;
    }
}

@media screen and (max-width: 992px) {
    .catalog {
        width: 94%;
    }
    
    .catalog__title {
        font-size: 24px;
        line-height: 26px;
    }

    .catalog__items {
        gap: 16px;
    }

    .itemPr {
        width: 200px;
        height: 300px;
    }

    .itemPr__name {
        font-size: 16px;
        line-height: 18px;
    }

    .itemPr__image {
        height: 200px;
    }
}

@media screen and (max-width: 768px) {
    .itemPr {
        width: 180px;
        height: 200px;
    }

    .itemPr__name {
        font-size: 14px;
        line-height: 16px;
    }
    .itemPr__image {
        height: 150px;
    }
}

@media screen and (max-width: 576px) {
    .catalog__title {
        font-size: 20px;
        line-height: 22px;
    }

    .catalog__items {
        gap: 20px;
    }
}