.catalog {
    margin-top: 150px;
}

.catalog__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    color: #565656;
    text-align: start;
}

.catalog__items {
    display: grid;
    grid-template-columns: repeat(2, 480px);
    gap: 100px;
    justify-content: center;
    margin-top: 200px;
}

.itemPr {
    border: 1px solid black;
    text-decoration: none;
    height: 730px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.itemPr__name {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 30px;
    color: #565656;
}

.itemPr__image {
    height: 80%;
}