.company {
    margin-top: 200px;
    display: grid;
    gap: 150px;
}

.company__block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.company__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
    text-align: start;
    color: #565656;
    margin: 0;
}

.company__description {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
}

.company__textBlock {
    border-left: 2px solid;
}

.company__text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    color: #565656;
    text-align: start;
    margin: 0;
    margin-left: 20px;
}

.company__subtext {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #565656;
    text-align: start;
    margin-left: 20px;
}