.form {
    width: 550px;
    height: 700px;
    border: 1px solid;
    border-radius: 20px;
}

.form__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    margin-top: 30px;
}

.form__inputList {
    margin-top: 50px;
    display: grid;
    gap: 16px;
    padding: 0;
    justify-items: center;
}

.form__input {
    width: 400px;
    height: 60px;
    border: 1px solid;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: start;
    border-radius: 10px;
}

.form__button {
    background-color: rgba(235, 186, 142, 0.55);;
    border: 1px solid;
    border-radius: 15px;
    width: 400px;
    height: 80px;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
}

.form__subtext {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-top: 16px;
}

.documentsBlock {
    list-style-type: none;
}

.documentsBlock__title {
    font-size: 16px;
    padding-bottom: 4px;
    margin: 0;
    text-align: start;
}

.documentsBlock__block {
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
    display: grid;
    gap: 8px;
}

.documentsBlock__button {
    border: 1px solid black;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
    margin-top: 12px;
    margin-left: 12px;
}

.documentsBlock__list {
    padding: 0;
}

.documentsBlock__document {
    list-style-type: none;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 12px;
    display: flex;
    height: 30px;
    width: 376px;
    align-items: center;
    margin-bottom: 8px;
}


@media screen and (max-width: 1200px) {
    .form {
        width: 500px;
        height: 550px;
    }

    .form__title {
        font-size: 20px;
        line-height: 22px;
        margin-top: 40px;
    }

    .form__inputList {
        margin-top: 20px;
        gap: 10px;
    }

    .form__input {
        width: 350px;
        height: 40px;
        font-size: 14px;
        line-height: 16px;
    }

    .form__button {
        width: 350px;
        height: 50px;
        font-size: 16px;
        line-height: 18px;
    }

    .form__subtext {
        margin-top: 10px;
        font-size: 12px;
        line-height: 16px;
    }

    .documentsBlock__block {
        width: 350px;
        gap: 6px;
    }

    .documentsBlock__document {
        width: 330px;
    }
}

@media screen and (max-width: 992px) {
    .form {
        width: 400px;
        height: 450px;
    }

    .form__title {
        margin-top: 20px;
    }

    .form__inputList {
        margin-top: 16px;
        gap: 6px;
    }

    .form__input {
        width: 300px;
        height: 30px;
    }

    .form__button {
        width: 300px;
        height: 50px;
    }

    .form__subtext {
        margin-top: 15px;
    }

    .documentsBlock__block {
        width: 300px;
    }

    .documentsBlock__document {
        width: 280px;
    }
}

@media screen and (max-width: 768px) {
    .form {
        width: 360px;
    }
}

@media screen and (max-width: 376px) {
    .form {
        width: 280px;
        height: 400px;
    }

    .form__inputList {
        margin-top: 10px;
    }

    .form__input {
        width: 250px;
    }

    .form__button {
        width: 250px;
    }

    .form__subtext {
        margin-top: 6px;
    }

    .documentsBlock__block {
        width: 250px;
    }

    .documentsBlock__document {
        width: 220px;
    }
}