.delivery {
    margin-top: 150px;
}

.delivery__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 46px;
    text-align: start;
    color: #565656;
}

.delivery__text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    color: #565656;
    text-align: start;
}

.delivery__image {
    width: 100%;
}