.promo {
    margin-top: 100px;
    display: grid;
    gap: 30px;
    width: 80%;
}

.promo__title {
    font-family: 'Raleway';
    font-style: normal;
    font-size: 72px;
    line-height: 74px;
    text-align: start;
    color: #565656;
    margin: 0;
}

.promo__subtitle {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: start;
    color: #565656;
}