.app {
  max-width: 99.99%;
  text-align: center;
  margin: auto;
  display: grid;
  gap: 50px;
  justify-content: center;
  font-family: 'Roboto', "Helvetica Neue", Helvetica, sans-serif;
}

@media screen and (max-width: 480px) {
  .app {
    max-width: 95%;
  }
}
