.option__label {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 20px 0;
}

.option__item {
    display: flex;
    justify-content: space-evenly;
    text-align: start;
    width: 95%;
}

.option__image {
    width: 144px;
}

.option__text {
    width: 40%;
}

.option__shop {
    width: 20%;
}

.option__button {
    margin: 0;
    padding: 0;
    height: 50px;
    width: 80px;
    align-self: center;
    color: white;
    background-color: #009845;
    border: none;
    border-radius: 10%;
}