.navigate {
    min-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigate__button {
    width: 130px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navigate__link {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.burgerNavigation {
    display: grid;
    gap: 10px;
    text-align: end;
    width: 160px;
    margin: 20px 30px 0 0;
}

.burgerNavigation__link {
    text-decoration: none;
    color: #000;
}

@media screen and (max-width: 1200px) {
    .navigate {
        min-width: 520px;
    }

    .navigate__link {
        font-size: 14px;
    }

    .navigate__button {
        width: 100px;
        height: 38px;
    }

    .navigate__basket {
        width: 24px;
        height: 24px;
    }
}