.navigate {
    width: 57%;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigate__button {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navigate__link {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.burgerNavigation {
    display: grid;
    gap: 16px;
    text-align: start;
    width: 160px;
}

.burgerNavigation__link {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1440px) {
    .navigate {
        width: 40%;
        min-width: 450px;
    }

    .navigate__link {
        font-size: 16px;
    }
}

@media screen and (max-width: 1024px) {
    .navigate {
        min-width: 350px;
    }
    
    .navigate__link {
        font-size: 12px;
    }
}

@media screen and (max-width: 840px) {
    .navigate {
        display: none;
    }
}