.home {
    max-width: 1440px;
    margin: auto;
}

.home__company {
    margin-top: 200px;
    display: grid;
    gap: 150px;
    padding: 0;
}

.buttonForm {
    border: none;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    width: 64px;
    height: 64px;
    position: fixed;
    bottom: 5%;
    right: 2%;
    color: white;
    background-color: #009845;
}

.invisible {
    display: none;
}

.blockForm {
    background-color: white;
    height: 100vh;
    width: 45%;
    position: fixed;
    top: 0;
    right: 0;
    display: grid;
    gap: 30px;
    align-content: center;
    justify-items: center;
}

.closeButton {
    padding: 0;
    margin: 50px;
    width: 64px;
    height: 64px;
    justify-self: end;
    background-color: white;
    border: none;
    transform: rotate(45deg);
}

.closeButton__img {
    width: 45px;
}

.form {
    width: 500px;
    height: 700px;
    border: 1px solid;
}

.form__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    margin-top: 60px;
}

.form__inputList {
    margin-top: 60px;
    display: grid;
    gap: 30px;
    padding: 0;
    justify-items: center;
}

.form__input {
    width: 450px;
    height: 60px;
    border: 1px solid;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}

.form__button {
    background-color: #EBBA8C;
    border: 1px solid;
    width: 450px;
    height: 80px;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
}

.form__subtext {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    margin-top: 60px;
}

@media screen and (max-width: 1440px) {
    .home__company {
        margin-top: 100px;
    }
}

@media screen and (max-width: 840px) {
    .home__company {
        gap: 40px;
    }
}