.home {
    width: 99.9%;
    margin: auto;
    display: grid;
    gap: 50px;
}

.home__company {
    width: 85%;
    margin: auto;
}

.home__text {
    padding: 0;
    font-size: 20px;
    text-align: start;
    max-width: 700px;
}

@media screen and (max-width: 1200px) {
    .home__text {
        font-size: 16px;
    }
}

@media screen and (max-width: 992px) {
    .home__company {
        width: 94%;
    }

    .home__text {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .home {
        gap: 20px;
    }
}