.feedback__buttonForm {
    border: none;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    width: 64px;
    height: 64px;
    position: fixed;
    bottom: 5%;
    right: 2%;
    color: white;
    background-color: #009845;
}

.feedback__ikonButton {
    width: 45px;
}

@media screen and (max-width:430px) {
    .feedback__ikonButton {
        width: 32px;
    }
}