.catalog {
    display: grid;
    grid-template-columns: 325px 75%;
    gap: 50px;
    width: 85%;
    margin: auto;
}

.catalog__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    text-align: start;
    grid-column: 1/3;
    margin: 0;
}

.version {
    border: 2px solid #000;
    border-radius: 20px;
    height: 280px;
}

.version__title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.version__list {
    list-style-type: none;
    padding: 0;
    display: grid;
    gap: 16px;
}

.list {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 270px);
    gap: 20px;
    margin: 0;
    justify-content: center;
}

.list_type_list {
    grid-template-columns: 1fr;
    gap: 16px;
}

.item {
    display: flex;
    color: black;
    text-decoration: none;
    text-align: start;
    border: 1px solid #000;
    border-radius: 20px;
    justify-content: space-between;
    flex-direction: column;
    min-height: 400px;
}

.item_type_list {
    min-height: 250px;
    flex-direction: row;
    border: 2px solid #000;
}

.item__image {
    width: 268px;
    height: 160px;
    border-radius: 20px 20px 0 0;
}

.item__image_type_list {
    height: 250px;
    width: 200px;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

.item__description {
    width: 95%;
    margin: auto;
    text-decoration: none;
    color: #000;
}

.item__description_type_list {
    padding-left: 20px;
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
}

.item__name {
    font-size: 20px;
}

.item__text {
    display: none;
}

.item__text_type_list {
    display: inline;
}

.item__text_type_last {
    display: inline;
    font-size: 16px;
}

.oreder {
    width: 10%;
}

.item__order {
    width: 95%;
    margin: auto;
    display: grid;
    gap: 20px;
}

.item__order_type_list {
    width: 20%;
    gap: 0;
    justify-items: center;
}

.item__price {
    font-size: 24px;
    margin: 0;
}

.item__button {
    width: 130px;
    height: 50px;
    font-size: 18px;
    border-radius: 20px;
    background-color: rgba(235, 186, 142, 0.6);
    border: none;
    justify-self: center;
    margin-bottom: 16px;
}

.buttonMore {
    width: 300px;
    height: 64px;
    font-size: 24px;
    border-radius: 20px;
    background-color: rgba(235, 186, 142, 0.6);
    border: none;
    grid-column: 2/3;
    margin: auto;
}

.catalog__buttons {
    grid-row: 1;
    grid-column: 1/5;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.catalog__buttons_type_list {
    grid-column: 1;
}

.catalog__button {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 10px;
    padding: 0;
}