.feedback {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.feedback__textBlock {
    width: 40%;
}

.feedback__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
    text-align: start;
    margin: 0;
}

.feedback__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    text-align: start;
}

@media screen and (max-width: 1200px) {
    .feedback__title {
        font-size: 24px;
        line-height: 26px;
    }

    .feedback__text {
        font-size: 16px;
        line-height: 18px;
    }
}

@media screen and (max-width: 992px) {
    .feedback {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .feedback__title {
        font-size: 20px;
        line-height: 22px;
    }

    .feedback__text {
        font-size: 14px;
        line-height: 16px;
    }
}

@media screen and (max-width: 576px) {
    .feedback {
        display: grid;
        gap: 20px;
    }

    .feedback__textBlock {
        width: 100%;
    }
}