.footer {
    margin-top: 50px;
    align-items: center;
    background-color: rgba(245, 217, 191, 0.2);;
}

.footer__wrapper {
    width: 90%;
    min-height: 150px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 0.5fr;
    gap: 60px;
    align-items: center;
    margin: auto;
}

.footer__text {
    font-size: 16px;
    text-align: start;
}

.footer__contacts {
    display: flex;
    justify-content: space-around;
}

.footer__contacts_text {
    font-size: 20px;
}

.social {
    display: flex;
    justify-content: space-evenly;
}

.social__link {
    width: 40px;
}

@media screen and (max-width: 1440px) {
    .footer {
        gap: 30px;
    }

    .footer__text{
        font-size: 14px;
    }

    .footer__contacts_text {
        font-size: 18px;
    }

    .social__link {
        width: 29px;
    }
}

@media screen and (max-width: 1024px) {
    .footer {
        gap: 15px;
    }

    .footer__contacts_text {
        font-size: 14px;
    }

    .footer__text {
        font-size: 12px;
    }

    .social__link {
        width: 20px;
    }
}

@media screen and (max-width: 840px) {
    .footer {
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }

    .footer__contacts {
        display: block;
    }

    .footer__text {
        font-size: 10px;
        text-align: center;
    }

    .footer__contacts {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .social {
        grid-row: 1/2;
        width: 100px;
        margin: auto;
    }

    .social__link {
        width: 29px;
    }
}