.header {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
}

.logo {
    display: flex;
}

.logo__image {
    width: 140px;
    height: 170px;
}

.logo__text {
    font-family: 'arvo';
    font-size: 44px;
    font-weight: normal;
    text-align: start;
    padding-left: 40px;
}

.navigate {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigate__link {
    font-family: 'raleway';
    font-size: 30px;
    font-weight: 400;
}

.contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.contacts__social {
    width: 59px;
    height: 59px;
}

.contacts__phone_number {
    margin: 0;
    font-family: 'Radio Canada';
    font-size: 28px;
}

.contacts__phone_text {
    font-family: 'Raleway';
    font-size: 20px;
}