.header {
    width: 95vw;
    margin: 65px auto 0;
    display: grid;
    grid-template-columns: 26% 52% 22%;
    justify-content: space-between;
    justify-items: center;
    margin-top: 65px;
    font-family: 'RalewayRegular';
}

.logo {
    display: flex;
    text-decoration: none;
}

.logo__image {
    width: 100px;
    height: 130px;
}

.logo__text {
    font-family: 'ArvoRegular';
    font-size: 32px;
    font-weight: normal;
    text-align: start;
    padding-left: 16px;
    color: black;
}

.navigate {
    width: 40%;
    min-width: 625px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigate__link {
    font-size: 22px;
    text-decoration: none;
    color: black;
}

.contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 320px;
    justify-self: end;
}

.contacts__social {
    width: 39px;
    height: 39px;
}

.contacts__phone_number {
    margin: 0;
    font-family: 'ArvoRegular';
    font-size: 24px;
}

.contacts__phone_text {
    font-size: 18px;
}

.burgerMenu {
    display: none;
}

.burgerMenu__navigation {
    display: grid;
    gap: 16px;
    text-align: start;
    width: 160px;
}

.burgerMenu_visible {
    display: flex;
    border: 1px solid;
    background-color: rgba(0, 0, 0, 0.85);
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px 0 70px 20px;
    align-items: flex-start;
}

.burgerMenu__buttonClose {
    background-color: rgba(0, 0, 0, 0.85);
    border: none;
    padding-right: 20px;
}

.burgerMenu__ikonClose {
    width: 24px;
    background-color: white;
    border-radius: 50%;
}

.burgerMenu_invisible {
    display: none;
}

.burgerMenu__link {
    text-decoration: none;
    color: white;
}

.burgerMenu__button {
    padding: 0;
    margin: 0;
    border: none;
    background-color: white;
}

.burgerMenu__ikon {
    width: 30px;
}

.basket {
    font-size: 22px;
    text-decoration: none;
    color: black;
    text-align: end;
    width: 100%;
    grid-column: 3/4;
}

@media screen and (max-width: 1440px) {
    .logo__image {
        width: 70px;
        height: 100px;
    }
    
    .logo__text {
        font-size: 24px;
    }

    .navigate {
        width: 40%;
        min-width: 450px;
    }

    .navigate__link {
        font-size: 16px;
    }

    .contacts {
        max-width: 230px;
    }

    .contacts__social {
        width: 29px;
        height: 29px;
    }

    .contacts__phone_number {
        font-size: 16px;
    }
    
    .contacts__phone_text {
        font-size: 12px;
    }
    
    .basket {
        font-size: 16px;
    }
}

@media screen and (max-width: 1024px) { 
    .header {
        margin-top: 20px;
    }

    .logo__image {
        width: 55px;
        height: 85px;
    }

    .logo__text {
        font-size: 20px;
        padding-left: 6px;
    }

    .navigate {
        min-width: 350px;
    }
    
    .navigate__link {
        font-size: 12px;
    }

    .contacts {
        max-width: 160px;
        min-width: 155px;
    }

    .contacts__social {
        width: 20px;
        height: 20px;
    }

    .contacts__phone_number {
        font-size: 12px;
    }

    .contacts__phone_text {
        font-size: 10px;
    }
}

@media screen and (max-width: 840px) {
    .header {
        grid-template-columns: 10% 52% 35%;
    }

    .burgerMenu {
        display: flex;
    }

    .navigate {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .header {
        display: grid;
        grid-template-columns: 40px 1fr;
        gap: 12px;
    }

    .contacts {
        display: none;
    }

    .basket {
        display: none;
    }
}