.header {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
    font-family: 'RalewayRegular';
}

.logo {
    display: flex;
    text-decoration: none;
}

.logo__image {
    width: 100px;
    height: 130px;
}

.logo__text {
    font-family: 'ArvoRegular';
    font-size: 32px;
    font-weight: normal;
    text-align: start;
    padding-left: 16px;
    color: black;
}

.navigate {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigate__link {
    font-size: 22px;
    text-decoration: none;
    color: black;
}

.contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 22%;
}

.contacts__social {
    width: 39px;
    height: 39px;
}

.contacts__phone_number {
    margin: 0;
    font-family: 'ArvoRegular';
    font-size: 24px;
}

.contacts__phone_text {
    font-size: 18px;
}

@media screen and (max-width: 1440px) {
    .logo__image {
        width: 70px;
        height: 100px;
    }
    
    .logo__text {
        font-size: 24px;
    }

    .navigate {
        width: 40%;
    }

    .navigate__link {
        font-size: 16px;
    }

    .contacts {
        width: 22%;
    }

    .contacts__phone_number {
        font-size: 16px;
    }
    
    .contacts__phone_text {
        font-size: 12px;
    }
}

@media screen and (max-width: 1180px) { 
    .contacts__social {
        width: 29px;
        height: 29px;
    }
}