@font-face {
  font-family: 'ArvoRegular';
  src: url('./fonts/Arvo/ArvoRegular/ArvoRegular.woff');
  font-weight: normal
}

@font-face {
  font-family: 'RalewayRegular';
  src: url('./fonts/Raleway/RalewayRegular/RalewayRegular.woff');
  font-weight: normal
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'ArvoRegular', 'RalewayRegular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
